body {
	margin:0;
}

h1 {
	font-size: 50px;
	color:pink;
}

.nav {
	padding:0 30px;
	background:rgba(0,0,0,0.8);
	color:white;

}

.nav-bar{
	list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
   
    align-items: center;
    justify-content: space-between;

}

.nav-bar li{
	margin: 0;
    display: inline-block;
    padding: 5px 10px;
    width: calc(84% / 8 ); 
}

.logo {
	padding: 0;
	margin:0;
}
.galeria img{
	width: 100%
}

.nav-2{
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-2 li {

	margin: 2px;
}

.nav-2 li img {
	width: 100%;
}

.footer{
	
	background-color: #e8e8e8;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
	
}

.footer-bar{
	list-style: none;
	margin:0;
	color:black;
	display:block;
	
}

.footer-bar2{
	list-style: none;
	margin:0;
	color:black;
	display:block;
	
}

.footer-bar3{
	list-style: none;
	margin:0;
	color:black;
	display:block;
	
}

.footer-bar4{
	list-style: none;
	margin:0;
	color:black;
	display:block;
	
}
.footer-bar5{
	list-style: none;
	margin:0;
	color:black;
	display:block;
	
}

.footer-low{
    width: 100%;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.footer-low ul li {
	margin: 0;
    display: inline-block;
    padding: 5px 10px;
    width: calc(100% / 8 ); 

}
.footer-low ul {
	padding: 0;
}


@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
  .nav{
  	padding:0 30px;
	color:red;
	font-family: sans-serif;
  }
}

@media only screen 
  and (max-width: 768px) {
	.nav-bar li {
		display: none;
	}
	#menu, li.logo {
	display:block;

	}

  }


@media only screen 
  and (max-width: 450px)  {
	.nav-bar{
		padding:10px;
		
		
		font-size: large;
		align-items: flex-start;
	}


  }

  #menu{
  	align-self: center;
  	position: relative;
  }

  #menu:hover {
    right: -110px;
  }

